.env
.DS_Store
*.db
*.log
log/
# custom/
data/
.idea/
*.iml
public/img/avatar/
*.exe
*.exe~
/gogs
profile/
*.pem
output*
*.sublime-project
*.sublime-workspace
*_gen.go
/release

node_modules
/internal/route/repo/dmp_schema
