{{with .Owner}}
<div class="ui container">
	<img class="ui avatar image" src="{{.RelAvatarLink}}">
	<span class="header name">
		<a href="{{.HomeLink}}">{{.Name}}</a>
		{{with .FullName}}({{.}}){{end}}
	</span>
</div>
{{end}}
<div class="ui divider"></div>
