/*----------------
This css is be adapted to template files in custom>templates
-----------------*/
/*----------------
    user>auth>signup.tmpl
-----------------*/
.user.signup form .inline.fields.field input{
    width: 18% !important;
}
.user.signup form .inline.fields.field label[for="last_name"]{
    width: 80px !important;
}
.user.signup form .inline.field .help {
    margin-left: 220px !important;
}

/*----------------
    user>settings>profile.tmpl
------------------*/
.user.settings.profile .inline.fields.field input{
    width: 18% !important;
}
.user.settings.profile .inline.fields.field label[for="last_name"]{
    width: 80px !important;
    margin:0px 0px 0px 40px;
}
.user.settings.profile .inline.fields.field label[for="first_name"]{
    width: 80px !important;

}

/*----------------
    repo>header_gin.tmpl
------------------*/
.repository .ui.header .ui.right select{
    height: 2.2em;
}

/*----------------
    custom>templates>repo>home.tmpl
------------------*/
#branch_item {
    background: transparent none!important;
    color: rgba(0,0,0,.6)!important;
    font-weight: 400;
    border-radius: 0.28571429rem;
    text-transform: none;
    text-shadow: none!important;
    -webkit-box-shadow: 0 0 0 1px rgba(34,36,38,.15) inset;
    box-shadow: 0 0 0 1px rgba(34,36,38,.15) inset;
    font-size: .92857143rem;
    font-family: "Helvetica Neue","Microsoft YaHei",Arial,Helvetica,sans-serif!important;

    margin: 0 0.25em 0 0;
    padding: 0.78571429em 1.5em 0.78571429em;

    text-align: center;
}