{{template "base/head" .}}
<div class="repository">
	{{template "repo/header" .}}
	<div class="ui container">
        {{if .Repository}}
        <div class="twelve wide column content">
            <h4 class="ui top attached header">研究実行環境</h4>

            <div class="ui unstackable attached table segment">
                <table class="ui unstackable very basic striped table">
                    <thead>
                        <tr>
                            <th width="20%">リポジトリ名</th>
                                <th width="30%">環境名</th>
                                <th width="15%">作成日</th>
                                <th width="15%">更新日</th>
                                <th colspan="2">実行環境</th>
                        </tr>
                    </thead>
                    <tbody>
                        {{ $n := len .JupyterContainer}}
                        {{range $i, $v := .JupyterContainer}}
                        {{if eq $v.ExperimentPackage ""}}
                        <tr>
                            <td>{{index $.repoNames $i}}</td>
                            <td>{{$v.ServerName}}</td>
                            <td>{{$v.Created}}</td>
                            <td>{{$v.Updated}}</td>
                            {{if not $v.IsDelete}}
                            <td><a href={{$v.Url}} target="_blank" rel="noopener" class="ui blue button">移動</a></td>
                            {{else}} 
                            <td></td>
                            {{end}}
                        </tr>
                        {{end}}
                        {{end}}
                    </tbody>
                </table>
            </div>
            <h4 class="ui top attached header">実験実行環境　
                <a href="/{{.Repository.Owner.Name}}/{{.Repository.Name}}/launch/experiment" class="ui blue button" target="_blank" rel="noopener">再構築</a>
            </h4>
            <div class="ui unstackable attached table segment">
                <table class="ui unstackable very basic striped table">
                    <thead>
                        <tr>
                            <th width="20%">実験パッケージ名</th>
                                <th width="30%">環境名</th>
                                <th width="15%">作成日</th>
                                <th width="15%">更新日</th>
                                <th colspan="2">実行環境</th>
                        </tr>
                    </thead>
                    <tbody>
                        {{ $n := len .JupyterContainer}}
                        {{range $i, $v := .JupyterContainer}}
                        {{if ne $v.ExperimentPackage ""}}
                        <tr>
                            <td>{{$v.ExperimentPackage}}</td>
                            <td>{{$v.ServerName}}</td>
                            <td>{{$v.Created}}</td>
                            <td>{{$v.Updated}}</td>
                            {{if not $v.IsDelete}}
                            <td><a target="_blank" rel="noopener" class="ui blue button" href={{$v.Url}}>移動</a></td>
                            {{else}} 
                            <td></td>
                            {{end}}
                        </tr>
                        {{end}}
                        {{end}}
                    </tbody>
                </table>
            </div>
            </div>
        {{end}}
    </div>
</div>
{{template "base/footer" .}}
