{{template "base/head" .}}
<div class="repository">
	{{template "repo/header" .}}
	<div class="ui container">
        {{if .Repository}}
        <div class="twelve wide column content">
            <h4 class="ui top attached header">{{.i18n.Tr "rcos.container.research"}}</h4>

            <div class="ui unstackable attached table segment">
                <table class="ui unstackable very basic striped table">
                    <thead>
                        <tr>
                            <th width="20%">{{.i18n.Tr "repo.repo_name"}}</th>
                                <th width="30%">{{.i18n.Tr "rcos.container.server.name"}}</th>
                                <th width="15%">{{.i18n.Tr "rcos.container.created"}}</th>
                                <th width="15%">{{.i18n.Tr "rcos.container.updated"}}</th>
                                <th colspan="2">{{.i18n.Tr "rcos.container.binder"}}</th>
                        </tr>
                    </thead>
                    <tbody>
                        {{range $i, $v := .JupyterContainer}}
                        {{if eq $v.ExperimentPackage ""}}
                        <tr>
                            <td>{{index $.repoNames $i}}</td>
                            <td>{{$v.ServerName}}</td>
                            <td>{{$v.Created}}</td>
                            <td>{{$v.Updated}}</td>
                            {{if not $v.IsDelete}}
                            <td><a href={{$v.Url}} target="_blank" rel="noopener" class="ui blue button">{{$.i18n.Tr "rcos.container.access"}}</a></td>
                            {{else}} 
                            <td></td>
                            {{end}}
                        </tr>
                        {{end}}
                        {{end}}
                    </tbody>
                </table>
            </div>
            <h4 class="ui top attached header">{{.i18n.Tr "rcos.container.experiment"}}
                <a href="/{{.Repository.Owner.Name}}/{{.Repository.Name}}/launch/experiment" class="ui blue button" target="_blank" rel="noopener"> {{$.i18n.Tr "rcos.container.rebuild"}} </a>
            </h4>
            <div class="ui unstackable attached table segment">
                <table class="ui unstackable very basic striped table">
                    <thead>
                        <tr>
                            <th width="20%">{{.i18n.Tr "rcos.experiment_package"}}</th>
                                <th width="30%">{{.i18n.Tr "rcos.container.server.name"}}</th>
                                <th width="15%">{{.i18n.Tr "rcos.container.created"}}</th>
                                <th width="15%">{{.i18n.Tr "rcos.container.updated"}}</th>
                                <th colspan="2">{{.i18n.Tr "rcos.container.binder"}}</th>
                        </tr>
                    </thead>
                    <tbody>
                        {{range $i, $v := .JupyterContainer}}
                        {{if ne $v.ExperimentPackage ""}}
                        <tr>
                            <td>{{$v.ExperimentPackage}}</td>
                            <td>{{$v.ServerName}}</td>
                            <td>{{$v.Created}}</td>
                            <td>{{$v.Updated}}</td>
                            {{if not $v.IsDelete}}
                            <td><a target="_blank" rel="noopener" class="ui blue button" href={{$v.Url}}> {{$.i18n.Tr "rcos.container.access"}} </a></td>
                            {{else}} 
                            <td></td>
                            {{end}}
                        </tr>
                        {{end}}
                        {{end}}
                    </tbody>
                </table>
            </div>
        </div>
        {{end}}
    </div>
</div>
{{template "base/footer" .}}
