{{if not $.IsBareRepo}}
	{{if or $.DOI $.IsRepositoryAdmin}} {{/* Show DOI buttons or badge */}}
					{{if $.IsRepositoryAdmin}}
						{{/* {{if $.IsDOIReady}}  Ready to (re)register: Show button
							<a class="ui basic button" href="/{{.Repository.Owner.Name}}/{{.Repository.Name}}/doi"><i class="octicon octicon-squirrel"></i> Request {{if $.DOI}}New{{end}} DOI</a> */}}
						{{/* {{else if not $.DOI}} Link to registration instructions*/}}
							<!--a class="ui basic button" data-tooltip="Your repository does not fulfill all requirements for a DOI yet. Click to get instructions." data-position="bottom center" href="/G-Node/Info/wiki/DOI"><i class="octicon octicon-squirrel"></i> How to publish</!--a -->
						<div style="display:flex;">
							{{if $.IsRcosButton}}
								{{if $.HasDmpJson }}
									{{ if $.HasMaDmp }}
										<a class="ui basic button" href="{{$.RepoLink}}/src/{{EscapePound $.BranchName}}/maDMP.ipynb" data-position="bottom center"><i class="octicon octicon-file"></i>View maDMP</a>
										<div class="ui labeled button" data-tooltip={{.i18n.Tr "repo.launch_binder"}} data-position="bottom center">
										<button class="ui basic button" data-position="bottom center">
											<a href="https://binder.cs.rcos.nii.ac.jp/v2/git/{{.ginURL}}%2F{{.Owner.Name}}%2F{{.Repository.Name}}.git/master?filepath=maDMP.ipynb" target="_blank" rel="noopener">
												<img src="https://binder.cs.rcos.nii.ac.jp/badge_logo.svg">
											</a>
										</button>
										</div>
									{{ else }}
										<a class="ui basic button" href="{{$.RepoLink}}/_edit/{{EscapePound $.BranchName}}/dmp.json" data-position="bottom center"><i class="octicon octicon-file"></i>Edit DMP JSON</a>
										<form method="post" name="generate_maDMP" action="{{$.RepoLink}}/madmp">
											{{.CSRFTokenHTML}}
											<a class="ui basic button" href= "javascript:generate_maDMP.submit()" data-position="bottom center"><i class="octicon octicon-file"></i>Generate maDMP</a>
										</form>
									{{ end }}
								{{else}}
									{{if $.SchemaList}}
										<select class="ui basic button" name="addDmp" onChange="location.href=value;">
											<option value="" selected disabled>Add DMP</option>
											{{ range $v := $.SchemaList }}
												<option value="{{$.RepoLink}}/_add/{{EscapePound $.BranchName}}/dmp.json/?schema={{$v}}">{{ $v }}</option>
											{{ end }}
										</select>
									{{end}}
								{{end}}
							{{end}}
						</div>
						{{/* {{end}}  End registration button */}}
					{{end}} {{/* Admin section */}}
					{{if $.DOI}} {{/* Registered repo: Show DOI badge */}}
						<!-- <div class="ui labeled button" tabindex="0">
							<a href="https://doi.org/{{$.DOI}}">
								<div class="gin doi">DOI</div>
								<div class="gin doinr">{{$.DOI}}</div>
							</a>
						</div> -->
					{{end}} {{/* End DOI badge */}}
					{{/* Close original header divs and create second row below for original buttons */}}
					</div>
				</div>
			</div><!--- end column -->
		</div><!--- end grid -->
	</div><!--- end container -->
	<div class="ui container"><!-- start container -->
		<div class="ui vertically padded grid head"><!-- start grid -->
			<div class="column"><!-- start column -->
				<div class="ui header">
					<div class="ui right">
	{{end}}
{{end}}
